<template>
  <div class="home">
    <section class="info">
      <h1>Support Ticketing System</h1>
      <h2>We Believe in Helping YOU</h2>
      <p>Feel free to communicate with our team anytime and get an answer to your quest.</p>
    </section>
    <section class="form">
      <LoginForm @toggle-form="toggle=!toggle" v-if="!toggle"/>
      <RegisterForm @toggle-form="toggle=!toggle" v-if="toggle" :slug="slug" :admin="admin"/>
    </section>
  </div>
</template>

<script>
// @ is an alias to /src
import LoginForm from "@/components/LoginForm.vue";
import RegisterForm from "@/components/RegisterForm.vue";

export default {
  name: "Home",
  components: {
    LoginForm,
    RegisterForm
  },
  data() {
    return {
      toggle: false,
      slug: 'REGISTER',
      admin: false
    }
  }
};
</script>

<style scoped>
.home {
  height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom right, #7986CB, #c4aead);
  overflow: hidden;
}
.info, .form {
  width: 50vw;
}
</style>
