<template>
  <div class="form-div">
    <h3>LOGIN</h3>
    <p>Please enter your credentials to login.</p>
    <form class="login-form" @submit.prevent="onLogin">
      <input type="text" placeholder="Username" v-model="username"/>
      <input type="password" placeholder="Password" v-model="password"/>
      <input class="button" type="submit" value="Login">
    </form>
    <p class="message">Not registered?<span><button class="buttonToLink" @click="onClickReg">Create New Account</button></span></p>
  </div>
</template>

<script>
import ApiService from "@/services/ApiService.js";

export default {
  name: "LoginForm",
  data() {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    onClickReg() {
      this.$emit('toggle-form')
    },
    onLogin() {
      if(this.username === '' || this.password === ''){
        alert('Fill out all the fields')
        return
      }
      this.$store.state.user.username = this.username
      ApiService.postLogin(this.username,this.password)
      .then(response => {
        if(response.status === 200){
          this.$store.state.user.token = response.data.token
          this.$store.state.user.name = response.data.name
          this.$store.state.user.role = response.data.role
          this.$router.push({name: 'User', params: {uname: this.$store.state.user.username}})
        }
      })
      .catch(error => {
        console.log(error);
      })
      this.username = ''
      this.password = ''
    }
  }
};
</script>

<style scoped>
input {
  padding: 15px;
  margin-bottom: 30px;
}
</style>
