<template>
  <div class="form-div">
    <h1>{{ slug }}</h1>
    <p>Please enter details to register.</p>
    <form class="register-form" @submit.prevent="onRegister">
      <input id="name" placeholder="Name" v-model="name"><br>
      <input id="email" placeholder="Email" v-model="email"><br>
      <input id="address" placeholder="Address" v-model="address"><br>
      <input id="username" placeholder="Username" v-model="username"><br>
      <input id="password" type="password" placeholder="Password" v-model="password"><br>
      <input id="c_password" type="password" placeholder="Confirm Password" v-model="c_password"><br>
      <input class="button" type="submit" value="Register">
    </form>
    <p class="message" v-if="!admin">Already registered?<span><button class="buttonToLink" @click="onClickLog">Login</button></span></p>
  </div>
</template>

<script>
import ApiService from "@/services/ApiService.js";

export default {
  name: "RegisterForm",
  props: {
    slug: String,
    admin: Boolean
  },
  data(){
    return {
      name: '',
      email: '',
      address: '',
      username: '',
      password: '',
      confirm_password: ''
    }
  },
  methods: {
    onClickLog() {
      this.$emit('toggle-form')
    },
    onRegister() {
      if(this.name === '' || this.email === ''|| this.address === '' || this.username === '' || this.password === '' || this.c_password === ''){
        alert('Fill out all the fields')
        return
      }
      let userInfo = {
        name: this.name,
        email: this.email,
        address: this.address,
        username: this.username,
        password: this.password,
        confirm_password: this.c_password,
      }
      ApiService.postUser(JSON.stringify(userInfo))
      .then(response => {
        alert(response.data.user[0].username+' got registered with email adddress  '+response.data.user[0].email)
      })
      .catch(error => {
        console.log(error)
      })
      this.name = ''
      this.email = ''
      this.address = ''
      this.username = ''
      this.password = ''
      this.c_password = ''
    }
  }
};
</script>

<style scoped>

</style>
