<template>
  <div class="manage-reply">
    <div class="message-reply">
      <div class="message">
        <div class="t-info1">
          <h3>{{ t_name }}</h3>
          <h4>{{ t_type}}</h4>
        </div>
        <h5>{{ t_email }}</h5>
        <p>{{ t_msg }}</p>
      </div>
      <div class="replies" v-if="replies">
        <Reply v-for="reply in replies" :key="reply.id" :reply="reply"/>
      </div>
    </div>
    <div class="reply-form">
      <ReplyForm/>
    </div>
  </div>
</template>

<script>
import ApiService from "@/services/ApiService.js";
import ReplyForm from "@/components/ReplyForm.vue";
import Reply from "@/components/Reply.vue";

export default {
  name: 'ReplyInfo',
  components: {
    ReplyForm,
    Reply
  },
  props: ['t_id','t_name','t_email','t_type','t_msg'],
  data() {
    return {
      replies: null
    }
  },
  created() {
    let user_token = this.$store.state.user.token
    this.$store.state.ticket.t_id = this.t_id
    ApiService.getAllReply(user_token,this.t_id)
      .then(response => {
        this.replies = response.data.messages
      })
      .catch(error => {
        console.log(error);
      })
  }
};
</script>
<style scoped>
.manage-reply {
  width: 70vw;
  height: 100vh;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.message-reply, .reply-form {
  width: 48%;
  display: flex;
  flex-direction: column;
}
.message, .replies {
  text-align: left;
  padding-left: 10px;
  background: #EFEBE9;
  border-radius: 8px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.replies {
  margin-top: 10px;
}
.t-info1 {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.t-info1 h3  {
  margin-bottom: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.t-info1 h4 {
  margin-bottom: 0px;
  margin-right: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.t-info3 p{
  padding: 10px 0px;
}
</style>
