<template>
  <div class="reply-div">
    <h3>Add Reply</h3>
    <form class="reply-form" @submit.prevent="onReply">
      <label for="reply_msg">Message</label>
      <textarea id="reply_msg" v-model="reply_msg" rows="10"></textarea>
      <input class="button" type="submit" value="Submit">
    </form>
  </div>
</template>

<script>
import ApiService from "@/services/ApiService.js";

export default {
  name: "ReplyForm",
  data(){
    return {
      reply_msg: null
    }
  },
  methods: {
    onReply() {
      let user_token = this.$store.state.user.token
      if(this.reply_msg === ''){
        alert('Fill out the message field')
        return
      }
      let replyInfo = {
        reply_msg: this.reply_msg
      }
      ApiService.postReply(user_token,this.$store.state.ticket.t_id,JSON.stringify(replyInfo))
      .then(response => {
        console.log(response.data)
        alert('Message send!')
      })
      .catch(error => {
        console.log(error)
      })
      this.reply_msg = ''
    }
  }
};
</script>

<style scoped>
.reply-div {
  padding-left: 10px;
  background: #EFEBE9;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
h3 {
text-align: center;
}
</style>
