<template>
  <router-link class="nav-link" :to="{ name: nav_item.name, params: { id: nav_item.id } }">
      <h4>{{ nav_item.item }}</h4>
  </router-link>
</template>

<script>
export default {
  name: 'SideNav',
  props: {
    nav_item: {
      type: Object,
      required: true
    }
  }
};
</script>

<style scoped>
/* .nav-link {
  text-decoration: none;
  color: #2c3e50;
}
.nav-link a:hover {
  font-size: 1.2em;
  font-weight: bold;
}
.nav-link a.router-link-exact-active {
    color: #c4aead;
} */
</style>
