<template>
  <div class="new-ticket">
    <h1>Add New Ticket for User</h1>
  </div>
  <div class="form">
    <form class="ticket-form" @submit.prevent="onAdd">
      <input id="user_id" type="number" placeholder="User ID" v-model="user_id" min="5784001">
      <div class="i-row">
        <input id="name" type="text" placeholder="Name" v-model="name">
        <input id="email" type="email" placeholder="Email" v-model="email">
      </div>
      <div class="i-row">
        <select id="ticket-type" v-model="ticket_type">
          <option disabled value="">Ticket Type</option>
          <option value="Android App">Android App</option>
          <option value="Website">Website</option>
          <option value="Others">Others</option>
        </select>
        <input id="subject" type="text" placeholder="Subject" v-model="subject">
      </div>
      <textarea id="message" placeholder="Message" v-model="message" rows="6"></textarea>
      <input class="button" type="submit" value="Add Ticket">
    </form>
  </div>
</template>

<script>
import ApiService from "@/services/ApiService.js";

export default {
  name: "NewTicket",
  data(){
    return {
      name: '',
      email: '',
      ticket_type: '',
      subject: '',
      message: '',
      user_id: ''
    }
  },
  methods: {
    onAdd() {
      let user_token = this.$store.state.token
      let u_role = this.$store.state.role
      if(u_role === 'Super-Admin' || u_role === 'Support-Admin' ){
        if(this.user_id === '' || this.name === '' || this.email === ''|| this.ticket_type === '' || this.subject === '' || this.message === ''){
          alert('Fill out all the fields')
          return
        }
        let ticketInfo = {
          user_id: this.user_id,
          name: this.name,
          email: this.email,
          subject: this.subject,
          ticket_type: this.ticket_type,
          message: this.message
        }
        ApiService.postTicket(user_token,JSON.stringify(ticketInfo))
        .then(response => {
          console.log(response.data.ticket)
          alert('Ticket Created!')
        })
        .catch(error => {
          console.log(error)
        })
      }
      // else{
      //   if(this.name === '' || this.email === ''|| this.ticket_type === '' || this.subject === '' || this.message === ''){
      //     alert('Fill out all the fields')
      //     return
      //   }
      //   let ticketInfo = {
      //     name: this.name,
      //     email: this.email,
      //     subject: this.subject,
      //     ticket_type: this.ticket_type,
      //     message: this.message
      //   }
      // }
      this.name = ''
      this.email = ''
      this.ticket_type = ''
      this.subject = ''
      this.message = ''
      this.user_id = ''
    }
  }
}
</script>

<style scoped>
h3 {
  padding: 10px 20px;
}
.ticket-form {
  width: auto;
  max-width: 400px;
  max-height: 400px;
  padding: 45px;
  background: #EFEBE9;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.i-row {
  display: flex;
  flex-direction: row;
}
.i-row #email, .i-row #subject {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
select {
  color: grey;
}
</style>
