<template>
  <div class="user-info">
    <h1>User Info</h1>
    <div class="user-header">
      <span>User ID</span>
      <span>Name</span>
      <span>Email</span>
      <span>Address</span>
      <span>Role</span>
      <!-- <i class='fas fa-angle-down'></i> -->
    </div>
    <div class="users">
      <User v-for="user in users" :key="user.id" :user="user"/>
    </div>
  </div>
</template>

<script>
import ApiService from "@/services/ApiService.js";
import User from "@/components/User.vue";

export default {
  name: "UserInfo",
  components: {
    User
  },
  data(){
    return {
      users: null
    }
  },
  created() {
    let user_token = this.$store.state.user.token
    ApiService.getUserInfo(user_token)
    .then(response => {
      this.users = response.data.users
    })
    .catch(error => {
      console.log(error)
    })
  }
};
</script>

<style scoped>
.user-header {
  width: 65vw;
  padding: 10px;
  font-weight: bold;
  background-color: #c4aead;
  opacity: 0.75;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}
span {
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
</style>
