<template>
  <router-view/>
</template>

<style>
body {
  margin: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.form-div {
  width: 90%;
  max-width: 400px;
  padding: 45px;
  background: #EFEBE9;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
input, select, textarea {
  background: #f2f2f2;
  border: 0;
  width: 90%;
  margin: 0 0 15px;
  padding: 10px;
  font-size: 14px;
}
.button {
  text-transform: uppercase;
  background-color: #7986CB;
  padding: 10px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.buttonToLink {
  background: none!important;
  border: 0;
  padding: 0!important;
  color: #7986CB;
  font-size: 1rem;
  text-decoration: underline;
  cursor: pointer;
}
.buttonToLink:hover{
  color: #c4aead;
  font-size: 1.05rem;
}
</style>
